body {
  width: 1920px;
  height: 730px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* Header */

.header {
  display: flex;
  align-items: center;
  width: 940px;
  height: 100px;
  top: 0;
  position: absolute;
  left: 25%;
}

.boxH1 {
  width: 300px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #DDDDDD;
  border-radius: 0px 0px 5px 5px;
}

.boxH2 {
  position: absolute;
  width: 620px;
  height: 100px;
  left: 320px;
  top: 0px;

  background: #DDDDDD;
  border-radius: 0px 0px 5px 5px;
}

.skupElementaHeader {
  position: absolute;
  width: 245px;
  height: 18px;
  left: 80px;
  top: 30px;
  /* Substitute for Neue Helvetica */
  font-family: 'Liberation Sans', sans-serif;
  font-size: 15px;
  line-height: 18px;

  display: flex;
  align-items: flex-end;

  color: #FFFFFF;
}

/* Container */

.container {
  position: absolute;
  width: 940px;
  top: 110px;
  bottom: 110px;
  left: 25%;
  background: #FFFFFF;
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Slider */

.slider{
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  position: absolute;
  height: 410px;
  width: 1230px;
  top: 70px;
  right: 300px;
}

/* Parents (Images) */

.topRow {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  position: absolute;
  max-width: 1230px;
  height: 200px;
  /*right: 320px;*/
  top: 0;
}

.botRow {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  width: fit-content;
  position: absolute;
  width: 1080px;
  height: 200px;
  /*right: 480px;*/
  bottom: 0;
}

/* Children (images) */

img {
  max-height: 100%;
  width: auto;
  border-radius: 5px;
  position: relative;
}

.fitItem {
  position: relative;
  height: 200px;
}

/* Arrows */

.arrows {
  display: grid;
  position: absolute;
  width: 60px;
  height: 130px;
  right: 320px;
  top: 280px;
}

.leftArrow {
  transition: background-color 0.5s ease-in-out;
  height: 60px;
  width: inherit;
  padding-left: 8px;
  padding-top: 8px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 5px;
}

.leftArrow:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: #cdcfd1;
}

.rightArrow {
  transition: background-color 0.5s ease-in-out;
  height: 60px;
  width: inherit;
  padding-left: 8px;
  padding-top: 8px;
  border: 1px solid #134880;
  box-sizing: border-box;
  border-radius: 5px;
}

.rightArrow:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: #cdcfd1;
}

/* Stock Text */

.stockText {
  position: absolute;
  width: 300px;
  height: 296px;
  right: 0;
  top: 30px;
}

.textHead {

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.2px;

  color: #134880;
}

.textContent {

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;
  letter-spacing: -0.2px;

  color: #484A4C;
}


/* Footer */

.footer {
  position: absolute;
  width: 940px;
  height: 100px;
  left: 25%;
  bottom: 0;
}

.boxF {
  position: absolute;
  width: 940px;
  height: 100px;
  bottom: 0;

  background: #DDDDDD;
  border-radius: 0px 0px 5px 5px;
}

.skupElementaFooter {
  position: absolute;
  width: 245px;
  height: 18px;
  left: 81px;
  top: 32px;
  /* Substitute for Neue Helvetica */
  font-family: 'Liberation Sans', sans-serif;
  font-size: 15px;
  line-height: 18px;

  display: flex;
  align-items: flex-end;

  color: #FFFFFF;
}
